.user-profile-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-profile-container h2 {
    text-align: center;
  }
  